.Header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #303030;
    color: white;
    position: sticky;
    top: 0;
    z-index: 100;
    height: 20px;
}

.header__logo{
    height: 25px;
    object-fit: contain;
    margin-left: 20px;
}

.header__input{
    display: flex;
    align-items: center;
    width: 40%;
    border: 1px solid black;
}

.header__input > input {
    flex: 1;
    border: none;
    height: 35px;
    background-color: black;
    color: white;
}

.header__right{
    display: flex;
    align-items: center;
}

.header__inputButton{
    width: 50px !important;
    height: 25px !important;
    background-color: #383838;
    border-left: 1px solid black;
    color: gray;
}

.header__icon{
    margin-right: 15px;
}

.sidebar__linebreak{
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid gray;
    width: 100vh;
    align-content: center;
}

hr{
    background-color: gray;
}